<!--
<!DOCTYPE html>
<html>
  <body>
    <form accept-charset="UTF-8" method="post" action="/users">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      Email: <input type="text" name="user[email]"><br>
      Username: <input type="text" name="user[username]"><br>
      Password: <input type="text" name="user[password]"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>


<!DOCTYPE html>
<html>
  <body>
    <%= form_tag('/users') do %>
    <div>Email: <%= text_field_tag 'user[email]' %></div>
    <div>Username: <%= text_field_tag 'user[username]' %></div>
    <div>Password: <%= text_field_tag 'user[password]' %></div>
    <div><%= submit_tag 'Submit' %></div>
    <% end  %>
  </body>
</html>

-->

<%= form_for(@user) do |f| %>
Email: <%= f.text_field(:email, :value => "Example@Email.com") %> <br>
Username: <%= f.text_field :username %> <br>
Password: <%= f.text_field :password %> <br>
<%= f.submit %>
<% end %>
